[Unit]
Description=My Application Service
After=network.target

[Service]
User=csye6225
Group=csye6225
EnvironmentFile=/home/csye6225/myApp/.env
WorkingDirectory=/home/csye6225/myApp
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target