[Unit]
Description=My Application Service
After=network.target

[Service]
User=csye6225
Group=csye6225
EnvironmentFile=/opt/myApp/webapp/.env
WorkingDirectory=/opt/myApp
ExecStart=/usr/bin/npm /opt/myApp/webapp/server.js 
Restart=on-failure

[Install]
WantedBy=multi-user.target